@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('./fonts/Quicksand-Regular.ttf') format('truetype');
}



.App {
  text-align: center;
  font-family: 'Quicksand';
}

.wrapper {
  background-color: #1e1e2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #1e1e2c
}